$base-font-size: 16px

$primary: #05236c

$secondary-1: #69b7bb
$secondary-2: #8fa7d9

$accent: #ff6a5a
$success: #9bcb3b

$neutral-white: #ffffff
$neutral-light: #dadada
$neutral-dark: #1f2937

$lines: #6c63ff
$clipboard-width: 225px
$clipboard-height: 376px

$popup-width: calc( $clipboard-width + 44px )
$popup-height: calc( $clipboard-height + 44px )

$prefrence-full-height: 23px
$prefrence-margin-left: 22px
$prefrence-margin-top: 5px

$expand-transition: height 0.2s ease
