@use '../abstracts' as *

=clipboard-header
  #header
    #label
      +py(7px)
      font-size: 15px
      text-align: center
      text-transform: capitalize
      background-color: $primary
      color: $neutral-white
